html, body {
  overflow-x: hidden;
}

#body-wrapper .row .col-xl-6 .post-body {
  background: white;
  border-radius: 3px;
  border: 0.5px solid rgba(43, 43, 43, 0.116);
}

#body-wrapper .row .col-xl-6 .post-body .post-title {
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#body-wrapper .row .col-xl-6 .post-body .post-title p {
  font-size: 15px;
  font-weight: 500;
}

#body-wrapper .row .col-xl-6 .post-body .post-title p span {
  cursor: pointer;
}

#body-wrapper .row .col-xl-6 .post-body .post-title img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

#body-wrapper .row .col-xl-6 .post-body .post-pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  overflow: hidden;
}

#body-wrapper .row .col-xl-6 .post-body .post-likcom {
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#body-wrapper .row .col-xl-6 .post-body .post-likcom i {
  font-size: 33px;
  cursor: pointer;
}

#body-wrapper .row .col-xl-6 .post-body .post-likcom a {
  text-decoration: none;
  color: black;
}

#body-wrapper .row .col-xl-6 .post-body .post-desc {
  padding: 10px 20px;
}

#body-wrapper .row .col-xl-6 .post-body .post-desc p {
  font-size: 14px;
  font-weight: 500;
}

#body-wrapper .row .col-xl-6 .post-body .post-desc p span {
  font-size: 14px;
  font-weight: 600;
  color: rgba(34, 34, 34, 0.575);
  cursor: pointer;
}

#body-wrapper .row .col-xl-6 .post-body .post-desc p b {
  cursor: pointer;
}

#body-wrapper .row .col-xl-6 .post-body .post-desc .like-modal .modal-body {
  list-style: none;
  padding: 0;
  margin: 0;
}

#body-wrapper .row .col-xl-6 .post-body .post-desc .like-modal .modal-body p {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  list-style: none;
}

#body-wrapper .row .col-xl-6 .post-body .post-desc .like-modal .modal-body p li img {
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

#body-wrapper .row .col-xl-6 .post-body .post-desc .like-modal .modal-body p li span {
  color: rgba(20, 20, 20, 0.822);
  font-weight: 500;
}

#body-wrapper .row .col-xl-6 .post-body .post-desc .like-modal .modal-body p:first-child {
  font-weight: 600;
  font-size: 18px;
}

#body-wrapper .row .col-xl-6 .post-body .post-comment {
  padding: 0px 20px;
}

#body-wrapper .row .col-xl-6 .post-body .post-comment p {
  font-size: 15px;
}

#body-wrapper .row .col-xl-6 .post-body .post-comment p span {
  font-size: 14px;
  font-weight: 600;
  color: rgba(34, 34, 34, 0.575);
  cursor: pointer;
}

#body-wrapper .row .col-xl-6 .post-body .post-comment p b {
  cursor: pointer;
}

#body-wrapper .row .col-xl-6 .post-body .post-comment .comment-modal .modal-body {
  list-style: none;
  padding: 0;
  margin: 0;
}

#body-wrapper .row .col-xl-6 .post-body .post-comment .comment-modal .modal-body p {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  list-style: none;
}

#body-wrapper .row .col-xl-6 .post-body .post-comment .comment-modal .modal-body p li {
  margin: 5px;
  padding: 10px 10px;
  background: rgba(90, 90, 90, 0.144);
  border-radius: 4px;
}

#body-wrapper .row .col-xl-6 .post-body .post-comment .comment-modal .modal-body p li img {
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

#body-wrapper .row .col-xl-6 .post-body .post-comment .comment-modal .modal-body p li span {
  color: rgba(20, 20, 20, 0.822);
  font-weight: 500;
}

#body-wrapper .row .col-xl-6 .post-body .post-comment .comment-modal .modal-body p:first-child {
  font-weight: 600;
  font-size: 18px;
}

#body-wrapper .row .col-xl-6 .post-body .post-time {
  padding: 0px 20px;
  font-weight: 500;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.377);
}

#body-wrapper .row .col-xl-6 .post-body .post-commentinput {
  padding: 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#body-wrapper .row .col-xl-6 .post-body .post-commentinput input {
  background: none;
  outline: none;
  border: none;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: .5px;
  color: rgba(0, 0, 0, 0.658);
}

#body-wrapper .row .col-xl-6 .post-body .post-commentinput input:focus {
  color: rgba(0, 0, 0, 0.774);
  font-size: 15px;
}

#body-wrapper .row .col-xl-6 .post-body .post-commentinput button {
  background: none;
  border: none;
  outline: none;
  font-weight: 600;
  color: rgba(70, 72, 209, 0.781);
}

#body-wrapper .row .col-xl-6 .create-body {
  background: white;
  border-radius: 3px;
  border: 0.5px solid rgba(43, 43, 43, 0.116);
}

#body-wrapper .row .col-xl-6 .create-body .create-title {
  padding: 5px 0;
}

#body-wrapper .row .col-xl-6 .create-body .create-title p {
  font-size: 15px;
  font-weight: 500;
}

#body-wrapper .row .col-xl-6 .create-body .create-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 40px;
  background: #fafafa;
  border: 0.5px solid rgba(43, 43, 43, 0.116);
}

#body-wrapper .row .col-xl-6 .create-body .create-content img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
}

#body-wrapper .row .col-xl-6 .create-body .create-content textarea {
  background: none;
  outline: none;
  border: none;
  resize: none;
}

#body-wrapper .row .col-xl-6 .create-body .create-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 7px 30px;
}

#body-wrapper .row .col-xl-6 .create-body .create-footer .photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#body-wrapper .row .col-xl-6 .create-body .create-footer .photo i {
  cursor: pointer;
  font-size: 40px;
  color: #c92424;
}

#body-wrapper .row .col-xl-6 .create-body .create-footer .photo span {
  -webkit-transition: all .5 ease-in-out;
  transition: all .5 ease-in-out;
  font-weight: 600;
  color: rgba(43, 43, 43, 0.705);
}

@media screen and (max-width: 768px) {
  #body-wrapper .row .col-xl-6 .post-body .post-title {
    padding: 1px 0;
  }
  #body-wrapper .row .col-xl-6 .post-body .post-title p {
    font-size: 14px;
  }
  #body-wrapper .row .col-xl-6 .post-body .post-likcom {
    padding: 8px 10px;
  }
  #body-wrapper .row .col-xl-6 .post-body .post-likcom i {
    font-size: 28px;
  }
  #body-wrapper .row .col-xl-6 .post-body .post-desc {
    padding: 10px 15px;
  }
  #body-wrapper .row .col-xl-6 .post-body .post-desc p {
    font-size: 13px;
  }
  #body-wrapper .row .col-xl-6 .post-body .post-comment {
    padding: 0px 15px;
  }
  #body-wrapper .row .col-xl-6 .post-body .post-comment p {
    font-size: 13px;
  }
  #body-wrapper .row .col-xl-6 .post-body .post-commentinput {
    padding: 0px 10px;
  }
  #body-wrapper .row .col-xl-6 .create-body .create-title p {
    font-size: 13px;
    font-weight: 500;
  }
  #body-wrapper .row .col-xl-6 .create-body .create-content {
    padding: 10px 15px;
    border: 0.5px solid rgba(43, 43, 43, 0.116);
  }
  #body-wrapper .row .col-xl-6 .create-body .create-content img {
    width: 40px;
    height: 40px;
  }
  #body-wrapper .row .col-xl-6 .create-body .create-content textarea {
    font-size: 15px;
  }
  #body-wrapper .row .col-xl-6 .create-body .create-footer {
    padding: 7px 15px;
  }
  #body-wrapper .row .col-xl-6 .create-body .create-footer .photo i {
    font-size: 20px;
  }
}
/*# sourceMappingURL=home.css.map */